{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div style="position: sticky;
            left: 0;
            height: 100%;z-index: -1;" class="column column--1of3">
                <h3 class="singleProject__subtitle">Author:</h3>

                <img class="avatar avatar--xl" src="{{ blog.owner.profile_image.url }}" alt="portfolio thumbnail" />

                <p style="text-align: center; padding-top: 10px;
                font-weight: 500; font-size: xx-large; color: black;" class="dev__title"> <a href="{% url 'doctorProfile' blog.owner.Did %}">Dr. {{blog.owner.name}}</a> 
                </p>



            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ blog.featured_image.url }}" alt="portfolio thumbnail" />
                <a href="{% url 'doctorProfile' blog.owner.Did %}"
                    class="singleProject__developer">Dr. {{blog.owner.name}}</a>
                <h2 class="singleProject__title">{{blog.title}}</h2>
                <h3 class="singleProject__subtitle">About the Blog</h3>
                <div class="singleProject__info">
                    {{blog.description | linebreaks}}
                </div>

                <div class="comments">
                    <h3 class="singleProject__subtitle">Feedback</h3>
                    <h5 class="project--rating">
                        95% Postitive Feedback (5 Votes)

                    </h5>

                    <form class="form" action="#" method="POST">
                        <!-- Textarea -->
                        <div class="form__field">
                            <label for="formInput#textarea">Comments: </label>
                            <textarea class="input input--textarea" name="message" id="formInput#textarea"
                                placeholder="Write your comments here..."></textarea>
                        </div>
                        <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
                    </form>
                    <div class="commentList">
                        <div class="comment">
                            <a href="profile.html">
                                <img class="avatar avatar--md"
                                    src="https://pbs.twimg.com/profile_images/1335382240931368961/b3wSZKj4_400x400.jpg"
                                    alt="user" />
                            </a>
                            <div class="comment__details">
                                <a href="profile.html" class="comment__author">Sulamita Ivanov</a>
                                <p class="comment__info">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias numquam
                                    perferendis
                                    mollitia minus minima exercitationem possimus ab deserunt qui, soluta iusto
                                    doloribus eveniet
                                    similique consequuntur ratione, dignissimos ut magni laborum quo.
                                </p>
                            </div>
                        </div>
                        <div class="comment">
                            <a href="profile.html">
                                <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/33843378"
                                    alt="user" />
                            </a>
                            <div class="comment__details">
                                <a href="profile.html" class="comment__author">Dennis Ivanov</a>
                                <p class="comment__info">
                                    Consectetur adipisicing elit. Reprehenderit alias numquam perferendis mollitia minus
                                    minima
                                    exercitationem possimus ab deserunt qui, ratione, dignissimos ut magni laborum quo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock content %}