{% extends 'main.html' %}

{% load static %}

{% block content %}


<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Doctors</span></h2>
            </div>

            <div class="hero-section__search">
                <form class="form" action="#" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search Doctor" />
                    </div>

                    <button type="submit" value="search" class="btn btn-outline-secondary">Search</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="all-doc-section">
        <h1 style="text-align: center;">DOCTORS</h1>
        <div class="main-doc">
            {% for profile in profiles %}
            <div class="cards-doc">
                <div class="image-doc">
                    <img style="height: 400px;" src="{{ profile.profile_image.url }}" alt="profile thumbnail">
                </div>
                <div class="title-doc">
                    <h4>Dr. {{profile.name}}</h4>
                </div>
                <div class="des-doc">
                    <p style="font-weight: 700; color:black;">
                        {{profile.email}}
                    </p>
                    <p>
                        {% for qualify in profile.qualifications.all %}

                        <span>{{qualify}}</span>

                        {% endfor %}
                    </p>
                    <p style="font-weight: 500;">{{profile.location}}</p>
                    <a href="{% url 'doctorProfile' profile.Did %}"><button>Know More</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>



</main>

{% endblock content %}