{% extends 'main.html' %}

{% load static %}

{% block content %}


<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Doctors</span></h2>
            </div>

            <div class="hero-section__search">
                <form class="form" action="#" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search Doctor" />
                    </div>

                    <button type="submit" value="search" class="btn btn-outline-secondary">Search</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for profile in profiles %}

                <div class="column">
                    <div class="card project">
                        <a href="{% url 'doctorProfile' profile.Did %}" class="project">
                            <img style="padding-left: 25px; width: 100%; border-radius: 5%;" class="project__thumbnail"
                                src="{{ profile.profile_image.url }}" alt="profile thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">Dr. {{profile.name}}</h3>
                                <p><a class="project__author"
                                        href="{% url 'doctorProfile' profile.Did %}">{{profile.email}}</a>
                                </p>
                                <p>
                                    {% for qualify in profile.qualifications.all %}

                                    <span class="project__author">{{qualify}}</span>

                                    {% endfor %}
                                </p>
                                <p class="project--rating">
                                    <span style="font-weight: bold;">{{profile.location}}</span>
                                </p>
                                <div class="project__tags">
                                    <span class="tag tag--pill tag--main" style="font-size: 15px;">
                                        <small>{{profile.speciality}}</small>
                                    </span>
                                    <!-- <span class="tag tag--pill tag--main">
                                        <small>GraphQL</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                        <small>TypeScript</small>
                                    </span> -->
                                    <!-- <span style="font-weight: bold;">{{profile.speciality}}</span> -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>


</main>

{% endblock content %}