{% extends 'main.html' %}
{% block content %}
{% load static %}

<!-- Main Section -->
<section class="sec-diab">
    <div class="layout-diab">
        <div class="image-diab">
            <img style="height: 50em;" src="{% static 'images/doctorForm.png' %}" alt="Medical Logo" />
        </div>
        <div class="form-diab">
            <main class="formPage my-xl">
                <div class="content-box">
                    <div class="formWrapper">
                        <div>
                            <h1>Diabetes Prediction</h1>
                        </div>
                        <!-- <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
                        <br> -->

                        <form class="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">Pregnancies: </label>
                                <input style="font-weight:5 ;" class="input input--text" id="formInput#text" type="text" name="pregnancies"
                                    placeholder="pregnancies" />
                            </div>

                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">Glucose: </label>
                                <input style="font-weight:5 ;"class="input input--text" id="formInput#text" type="text" name="glucose"
                                    placeholder="glucose" />
                            </div>
                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">Blood Pressure: </label>
                                <input style="font-weight:5 ;"class="input input--text" id="formInput#text" type="text" name="bloodPressure"
                                    placeholder="bloodPressure" />
                            </div>
                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">Skin Thickness: </label>
                                <input style="font-weight:5 ;"class="input input--text" id="formInput#text" type="text" name="skinThickness"
                                    placeholder="skinThickness" />
                            </div>
                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">Insulin: </label>
                                <input style="font-weight:5 ;"class="input input--text" id="formInput#text" type="text" name="insulin"
                                    placeholder="insulin" />
                            </div>
                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">BMI: </label>
                                <input style="font-weight:5 ;"class="input input--text" id="formInput#text" type="text" name="BMI"
                                    placeholder="BMI" />
                            </div>
                            <div class="form__field">
                                <label style="font-weight:bold ;" for="formInput#text">Diabetes Pedigree Function: </label>
                                <input style="font-weight:5 ;"class="input input--text" id="formInput#text" type="text"
                                    name="diabetesPedigreeFunction" placeholder="diabetesPedigreeFunction" />
                                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>


</section>

{% endblock %}