{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="sec-dp">
    <div class="h1-dp">
        <h1>Disease Prediction</h1>
    </div>
    <div class="work-dp">
        <div class="card-dp">
            <div class="image-dp">
                <img style="height: 25em; border-radius: 8px;" src="{% static 'images/heart.jpg' %}" alt="">
            </div>
            <div class="card-content-dp">
                <h4>Heart Disease Prediction</h4>
                <a href="{% url 'heartDiseaseInstruction'  %}"><button class="btn btn--sub btn--lg  my-md">Take a Test</button></a>
            </div>
        </div>
        <div class="card-dp">
            <div class="image-dp">
                <img style="height: 25em; border-radius: 8px;" src="{% static 'images/diabetes.jpg' %}" alt="">
            </div>
            <div class="card-content-dp">
                <h4>Diabetes Prediction</h4>
                <a href="{% url 'diabetesDiseaseInstruction'  %}"><button class="btn btn--sub btn--lg  my-md">Take a Test</button></a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}